Repository GDSC-Hongik/2023-2-Hands-On-Machine-Learning-Study, pull requests merged in 2024-01, with the labels that each got.

#1 [전지수] 1주차 제출합니다.
  Jeon-jisu/Week_1/answer1.md
  Jeon-jisu/Week_1/week1.md
Labels: Update, Week1

#2 [박준서] 1주차 제출합니다.
  Pjunn/Week_1/answer1.md
  Pjunn/Week_1/week1.md
Labels: Week1

#11 [박준서] 2주차 제출합니다.
  Pjunn/Week_2/answer2.md
  Pjunn/Week_2/week2.md
Labels: Week2

#13 [전지수] 2주차 제출합니다.
  Jeon-jisu/Week_2/answer2.md
  Jeon-jisu/Week_2/week2.md
Labels: Update, Week2
